@use "../../SCSS/functions";

.cart-menu-right {
    @include functions.position(fixed, 0, null, 0, null);
    z-index: 4;
    height: 100%;
    min-height: 100vh;
    @include functions.flex(column, null, null);
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--color-white);
    width: 450px;
    transition: all .5s;
    .top {
        @include functions.flex(row, space-between, center);
        padding: 10px;
        background-color: var(--color-white);
    }
    @media (max-width: 599px) {
        width: 100%;
    }
}

